.center {
  text-align: center;
  margin: auto;
}

.hidden {
  display: none;
}

#banner-header {
  font-family: sans-serif;;
  font-size: 100px;
  padding-top: 200px;
}

#banner {
  z-index: 1;
}

#banner::before {
  content: "";
  background-image: url('dapper_codes.jpg');
  height: 1200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: .4;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

#description {
  text-align: justify;
  padding-top: 138px;
  padding-left: 130px;
  padding-right: 130px;
  margin: auto;
  font-family: monospace;
  font-size: 30px;
}

#real_email a{
  color: black;
  font-size: 30px;
  text-decoration: none;
  font-family: sans-serif;
}

#fake_email h1{
  font-size: 30px;
  font-family: sans-serif;
}

#real_email {
  margin-top: 95px;
  font-family: sans-serif;
}

#definition {
  padding-top: 20px;
  font-size: 20px;
  font-family: sans-serif;
}

body {
  background-color: #a1a5a8;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

