<div class="container" id="banner">
  <h1 class="center" id="banner-header">Dapper Codes</h1>
</div><br />

<p class="center" id="description">As a software developer I look forward to the moments when I am presented with the opportunity to find the cause and a solution to even the smallest problem. With the technical skills I have gained during my time at Turing, combined with the logic and discipline I developed throughout my time as a plastic manufacturer, I aspire to find not just a job but a career. A career that will allow me to solve big things, create simple solutions to complex problems, and most importantly make an impact on those around me. I believe I have found my niche as a software developer that is ready to take on any challenge!</p>
