<div class="container" id="banner">
  <h1 class="center" id="banner-header">Dapper Codes</h1>
</div><br />

<p class="center" id="description">As a software developer I look forward to the moments when I am presented with the opportunity to find the cause and a solution to even the smallest problem. With the technical skills I have gained during my time at Turing, combined with the logic and discipline I developed throughout my time as a plastic manufacturer, I aspire to find not just a job but a career. A career that will allow me to solve big things, create simple solutions to complex problems, and most importantly make an impact on those around me. I believe I have found my niche as a software developer that is ready to take on any challenge!</p>

<section class="center" id="contact">
  <div class="center" id="links">
    <a href="https://github.com/CalebCowen" target="_blank"><img src="/assets/github_logo.png" height="50" /></a>
    <a href="https://linkedin.com/calebcowen" target="_blank"><img src="/assets/linkedin_logo.png" height="50" /></a>
    <a href="https://twitter.com/CCalebcowen" target="_blank"><img src="/assets/twitter_logo.png" height="50" /></a>
  </div>
  <div class="center" id="email">
    <p>Email me at:</p>
    <h1><a href="mailto:calebcowen@gmail.com">dappercodes@gmail.com</a></h1>
  </div>
</section>
