<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>There was a problem with your credit card payment for <%= @project_name %>.</h1>
    <p>
      The error received was: <%= @error %>
    </p>
    <p>
      To attempt to make another payment, visit https://dappercodes.herokuapp.com/.
    </p>
    <p>Thank you!</p>
  </body>
</html>
