.center {
  text-align: center;
  margin: auto;
}

.hidden {
  display: none;
}

#banner-header {
  font-family: sans-serif;;
  font-size: 100px;
  padding-top: 200px;
}

#banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

#banner::before {
  content: "";
  background-image: url('dapper_codes.jpg');
  height: 1200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  opacity: .3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-animation: fadein 2s ease 1s 1 normal both, blur 5s ease 3s 1 normal both;
  animation: fadein 2s ease 1s 1 normal both, blur 5s ease 3s 1 normal both;
  z-index: -1;
}


#description {
  text-align: justify;
  padding-top: 138px;
  padding-left: 130px;
  padding-right: 130px;
  margin: auto;
  font-family: monospace;
  font-size: 30px;
}

#real_email a{
  color: black;
  font-size: 30px;
  text-decoration: none;
  font-family: sans-serif;
}

#fake_email h1{
  font-size: 30px;
  font-family: sans-serif;
}

#real_email {
  margin-top: 95px;
  font-family: sans-serif;
}

#definition {
  padding-top: 20px;
  font-size: 20px;
  font-family: sans-serif;
}

#payment-button {
  background:none!important;
  border:none;
  padding:0!important;
  font-size: 30px;
  font-family: sans-serif;
  cursor:pointer;
}

#payment-button:hover{
  text-decoration:underline;
}

body {
  background-color: #a1a5a8;
}

@-webkit-keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: .3; }
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: .3; }
}

@-webkit-keyframes blur {
  0% {
    -webkit-filter: blur(0);
    filter: blur(0);
  }
  100% {
    -webkit-filter: blur(30px);
    filter: blur(30px);
  }
}

@keyframes blur {
  0% {
    -webkit-filter: blur(0);
    filter: blur(0);
  }
  100% {
    -webkit-filter: blur(30px);
    filter: blur(30px);
  }

  @-webkit-keyframes deblur {
    100% {
      -webkit-filter: blur(0);
      filter: blur(0);
    }
    0% {
      -webkit-filter: blur(30px);
      filter: blur(30px);
    }
  }

  @keyframes deblur {
    100% {
      -webkit-filter: blur(0);
      filter: blur(0);
    }
    0% {
      -webkit-filter: blur(30px);
      filter: blur(30px);
    }
  }
